body {
  background-color: #1a1a1d;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: justify;
}

h1 {
  color: #c3073f;
  /* border: 1px solid purple; */
}
img {
  width: 700px;
}
