body {
  background-color: #1a1a1d;
  color: whitesmoke;
}

h1 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #c3073f;
  /* border: 1px solid purple; */
}

p {
  text-align: justify;
  font-family: monospace;
  padding-left: 400px;
  padding-right: 400px;
  /* border: 1px solid red; */
  /* border-style: dotted; */
}

.img1 {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid purple; */
}
